* {
    color: #2f91d4;
    text-align: center;
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0%;
    padding: 0%;
    font-stretch: 150%;
    text-shadow: #121212 5px 5px 5px;
}
body {
    background: linear-gradient(90deg, rgba(55, 51, 49, 1) 0%, rgba(49, 51, 55, 1) 100%);
}
#head {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
h1 {
    font-size: 72px;
}
h2 {
    font-size: 32px;
    color: #2f91d4;
}
img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 20%;
    -webkit-filter: drop-shadow(#121212 5px 5px 5px);
    filter: drop-shadow(#121212 5px 5px 5px);
    /*float: left;*/
}
#main {
    display: grid;
    grid-template-areas:
    "a b"
    "a b"
    "a b";
    width: 100%;
}
#fast {
    border-right: 2px solid #212121;
    z-index: -5;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100vh;
}
#slow {
    border-left: 2px solid #212121;
    z-index: -5;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
}

#fast>div, #slow>div{
    margin-top: 70%;
    font-size: 200%;
    color: inherit;
}
#fast>img, #slow>img{
    z-index: -5;
    width: 100%;
    position: absolute; 
    top: 10vh;
    left: 0%;
}
footer {
    z-index: 24;
    position: fixed;
    bottom: 0%;
    background-color: #1212127f;
    color: #747474;
    width: 100%;
}
#fast:hover, #slow:hover{  
    color: #3197db;
    top: -5%;
}
.Wind {
    color: lightgreen;
}
.Fire {
    color: lightcoral;
}
.Water {
    color: lightblue;
}
.Norm {
    color: lightgrey;
}
.Astra {
    color: plum;
}
.Tera {
    color: olivedrab;
}
.Crux span:nth-child(even) {
    color: hotpink;
}
.Crux span:nth-child(odd) {
    color: cornflowerblue;
}
.Umbra {
    color: mediumpurple
}
.Exia {
    color: firebrick;
}
.Luxem {
    color: LemonChiffon;
}
.Arcane {
    color: royalblue;
}
.Neos {
    color: khaki
}
.cards{
    opacity: 0.5;
}
.championcard {
    opacity: 0.65;
}
.boons {
    width: 15%;
}
#cardhold {
    width: 100%;
    z-index: -24;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#cardhold>img {
    margin-left: 1%;
    margin-right: 1%;
}
.click {
    background-color: #212121;
    border: 1pxs solic grey;
    padding-left: 1%;
    padding-right: 1%;
}
#holder {
    font-size: 32px;
}
#daily {
    position: fixed;
    left: 39%;
    top: 60%;
    width: 25%;
}
#daily:hover {
    top: 55%
}
#daily>div {
    transform: rotate(-15deg);
    position: absolute;
    bottom: 65%;
    width: 100%;
}
#daily>img {
    width: 100%;
}

#bottom {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 5%;
    pointer-events: none;
}

.wheels {
    width: 75%;
}
.wheel0A {
    right: 40%;
    position: fixed;
    animation: linear;
    animation-iteration-count: 1;
    animation-name: cardfinal;
    animation-duration: 1.5s;
}
.wheel3 {
    opacity: 0.5;
    right: -100%;
    position: fixed;
    animation: linear infinite;
    animation-name: cardswipe;
    animation-duration: 1.5s;
}
.wheel02 {
    opacity: 0.5;
    right: -100%;
    position: fixed;
    animation: linear infinite;
    animation-name: cardswipe;
    animation-delay: 0.375s;
    animation-duration: 1.5s;
}
.wheel01 {
    opacity: 0.5;
    right: -100%;
    position: fixed;
    animation: linear infinite;
    animation-name: cardswipe;
    animation-delay: 0.75s;
    animation-duration: 1.5s;
}
.wheel00 {
    opacity: 0.5;
    right: -100%;
    position: fixed;
    animation: linear infinite;
    animation-name: cardswipe;
    animation-delay: 1.125s;
    animation-duration: 1.5s;
}
.wheel2 {
    opacity: 0.5;
    right: -100%;
    position: fixed;
    animation: linear infinite;
    animation-name: cardswipe;
    animation-delay: 0.375s;
    animation-duration: 1.5s;
}
.wheel1 {
    opacity: 0.5;
    right: -100%;
    position: fixed;
    animation: linear infinite;
    animation-name: cardswipe;
    animation-duration: 1.5s;
}
.wheel0 {
    opacity: 0.5;
    right: -100%;
    position: fixed;
    animation: linear infinite;
    animation-name: cardswipe;
    animation-delay: 0.375s;
    animation-duration: 1.5s;
}
@keyframes cardswipe {
    0% {
      right: -100%;
    }
    100% {
      right: 100%;
    }
  }
  @keyframes cardfinal {
    0% {
        right: -75%;
    }
    100% {
        right: 40%;
    }
  }




.block{display: none;}

@media (orientation: portrait) {
    #head {
        width: 100%;
    }
    h1 {
        font-size: 200%;
    }
    h2{
        width: 100%;
        font-size: 90%;
    }
    #head>img {
        width: 50%;
    }
    #fast {
        border-right: 2px solid #212121;
        z-index: -5;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 50%;
        height: 100vh;
    }
    #slow {
        border-left: 2px solid #212121;
        z-index: -5;
        position: fixed;
        top: 0%;
        left: 50%;
        width: 50%;
        height: 100vh;
    }
    #daily {
        left: 27%;
        z-index: 1;
        position: fixed;
        width: 50%;
        height: 100vh;
    }
    #fast>div, #slow>div{
        margin-top: 125%;
        font-size: 150%;
        color: inherit;
    }
    #daily>div {
        margin-top: 50%;
        font-size: 125%;
        color: inherit;
    }
    #fast>img{
        z-index: -5;
        width: 200%;
        position: absolute; 
        top: 20vh;
        left: -50%;
    }
    #slow>img{
        z-index: -5;
        width: 200%;
        position: absolute; 
        top: 20vh;
        left: -25%;
    }
    #fast:hover, #slow:hover {  
        color: #3197db;
        top: -5%;
    }
    
    #cardhold {
        z-index: -24;
        pointer-events: none;
        display: flex;
        position: absolute;
    }
    .cards {
        width: 25%;
        position: absolute  
    }
    .spirit{
        z-index: 20;
        left: 0%;
    }
    .relic{
        z-index: 20;
        right: 0%;
    }
    .championcard {
        z-index: 24;
        opacity: 0.65;
        width: 65%;
    }
    #textheld {
        font-size: 100%;
    }
    #bottom {
        width: 100%;
        text-align: center;
        position: fixed;
        bottom: 5%;
    }
    .wheels>img {
        width: 50%;
    }
    .wheel0A {
        right: 20%;
        position: fixed;
        animation: linear;
        animation-iteration-count: 1;
        animation-name: cardfinal;
        animation-duration: 1.5s;
    }
    @keyframes cardfinal {
        0% {
            right: -75%;
        }
        100% {
            right: 20%;
        }
      }
      .boons {
        width: 15%;
        top: 75%;
    }
    #boon0 {
        left: 1%;
    }
    #boon1 {
        right: 1%;
    }
}
  @media only screen and (max-width: 375px ){

    #holder, #head {
        display: none;
    }
    .block {
        display: block;
        text-align: center;
        position: absolute;
        bottom: 50%;
    }
  }