* {
    color: #2f91d4;
    text-align: center;
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0%;
    padding: 0%;
    font-stretch: 150%;
    text-shadow: #121212 5px 5px 5px;
}
body {
    background: linear-gradient(90deg, rgba(55, 51, 49, 1) 0%, rgba(49, 51, 55, 1) 100%);
}
#head {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 72px;
}
h2 {
    font-size: 32px;
    color: #2f91d4;
}
img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 20%;
    -webkit-filter: drop-shadow(#121212 5px 5px 5px);
    filter: drop-shadow(#121212 5px 5px 5px);
    /*float: left;*/
}
#main {
    display: grid;
    grid-template-areas:
    "a b"
    "a b"
    "a b";
    width: 100%;
}
#fast {
    border-right: 2px solid #212121;
    z-index: -5;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100vh;
}
#slow {
    border-left: 2px solid #212121;
    z-index: -5;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    
}
#fast>div, #slow>div{
    margin-top: 45%;
    font-size: 64px;
    color: inherit;
}
#fast>img, #slow>img {
    z-index: -5;
    width: 100%;
    position: absolute; 
    bottom: -65%;
    left: 0%;
}
footer {
    z-index: 24;
    position: fixed;
    bottom: 0%;
    background-color: #121212;
    color: #747474;
    width: 100%;
}
#fast:hover, #slow:hover {  
    color: #3197db;
    top: -5%;
}
.Wind {
    color: lightgreen;
}
.Fire {
    color: lightcoral;
}
.Water {
    color: lightblue;
}
.Norm {
    color: lightgrey;
}
.Astra {
    color: plum;
}
.Tera {
    color: olivedrab;
}
.Crux span:nth-child(even) {
    color: hotpink;
}
.Crux span:nth-child(odd) {
    color: cornflowerblue;
}
.Umbra {
    color: mediumpurple
}
.Exia {
    color: firebrick;
}
.Luxem {
    color: LemonChiffon;
}
.Arcane {
    color: royalblue;
}
.Neos {
    color: khaki
}
.cards {
    opacity: 0.5;
}
#cardhold {
    width: 100%;
    z-index: -24;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#cardhold>img {
    margin-left: 1%;
    margin-right: 1%;
}
.click {
    background-color: #212121;
    border: 1pxs solic grey;
    padding-left: 1%;
    padding-right: 1%;
}
#holder {
    font-size: 32px;
}
#daily {
    position: fixed;
    width: 25%;
    left: 35%;
    bottom: 25%;
    font-size: 32px;
}
#daily>img {
    z-index: -24;
    width: 75%;
    position: absolute;
    left: 20%;
}
#daily:hover {  
    top: 50%;
}
#daily>div {
    transform: rotate(-15deg);
}
.block{display: none;}
@media only screen and (max-width: 1024px) {
    #fast>img, #slow>img {
        z-index: -5;
        width: 200%;
        position: absolute; 
        bottom: 0%;
        left: -35%;
    }
    #fast>div {
        margin-top: 45%;
        position: absolute;
        bottom: 55%;
        left: 5%;
        font-size: 150%;
        color: inherit;
        text-align: center;
    }
    #slow>div {
        width: 75%;
        margin-top: 45%;
        position: absolute;
        bottom: 55%;
        left: 15%;
        font-size: 150%;
        color: inherit;
        text-align: center;
    }
    #daily {
        position: fixed;
        width: 25%;
        left: 35%;
        bottom: 30%;
        font-size: 32px;
    }
    #daily>img {
        z-index: -24;
        position: fixed;
        width: 75%;
        left: 15%;
        bottom: -25%;
    }
    .end {
        margin-top: -10%;
    }
    .cards {
        opacity: 0.5;
        width: 30%;
    }
  }
@media only screen and (max-height: 700px) {
    #fast,#slow{
        top: 5%;
    }
    #fast>img{
        z-index: -5;
        width: 150%;
        position: fixed; 
        left: -35%;
        top: 25%;
    }
    #slow>img {
        z-index: -5;
        width: 150%;
        position: fixed; 
        left: 0%;
        top: 25%;
    }
    #daily>img {
        z-index: -24;
        position: fixed;
        width: 75%;
        left: 15%;
        top: 50vh;
    }
}
@media only screen and (max-height: 750px ) and (min-width: 900px ) {
    #fast>img, #slow>img {
        z-index: -5;
        width: 100%;
        position: absolute; 
        bottom: -50%;
        left: 0%;
    }
    #fast>div {
        left: 30%;
    }
    #daily {
        position: fixed;
        width: 25%;
        height: 25%;
        left: 35%;
        bottom: 0%;
        font-size: 32px;
    }
    #daily>img {
        z-index: -24;
        width: 75%;
        position: absolute;
        left: 20%;
        top: 10%;
    }
}
@media only screen and (max-width: 375px ){

#holder, #head {
    display: none;
}
.block {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 50%;
}
}
